$primary-color: #dc3545;
$secondary-color: #0c2b4b;
$white-color: #e4e6eb;
$heading-color: #111111;
$para-color: #5c5c5c;
$black-color: #000000;
$heading-color-2: #323232;
$normal-color: #1c1c1c;
$background: #d7d7d7;
$background-2: #efefef;
$border: #ebebeb;
$border-1: #e1e1e1;
$gray-color: rgb(84, 80, 80);
$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;
$box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
$header-height: 74px;
$dark-background: #262626;
